html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding: 0; */
}
#language {
    text-align: center;
}
#hot-display-license-info{
    display: none;
}
.all {
    width: 55%; 
    margin:0 auto; 
    /* text-align: center; */
}
tr{
    height:26px;
    text-align: center; 
}
textarea{
    height: 27px;
}
h3{
    margin-top: 30px;
}